header {
  display: flex;
  position: fixed;
  gap: 40rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.356);
  height: 7rem;
  background-color: white;
  z-index: 10;
  margin-bottom: 20px;
}

.iconDiv {
  margin-top: 2.5rem;
}

.iconDiv .icon {
  height: 30px;
}

header div {
  display: flex;
  margin-left: 5rem;
  justify-content: space-between;
  margin-top: 1rem;
  width: 30rem;
}

h1 {
  color: #0290ff;
  height: 2.313rem;
  font-family: Montserrat, sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  margin-right: 2.9rem;
}

nav {
  display: flex;
  width: 15rem;
  justify-content: space-around;
  padding-top: 30px;
}

nav .link {
  text-decoration: none;
  color: black;
  font-weight: 100;
  transition: 0.2s;
}

nav .link:hover {
  color: #0290ff;
}
